REST and SOAP - Books/BookClient/src/wsdl/localhost_8080/WSInterface.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://warehousews.softeng.sapienza.it/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="WSImplService" targetNamespace="http://warehousews.softeng.sapienza.it/">
  <wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://warehousews.softeng.sapienza.it/" attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://warehousews.softeng.sapienza.it/">
  <xs:element name="getBookSoap" type="tns:getBookSoap"/>
  <xs:element name="getBookSoapResponse" type="tns:getBookSoapResponse"/>
  <xs:complexType name="getBookSoap">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBookSoapResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:Book"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Book">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="dates" nillable="true" type="xs:string"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="mapSellers">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="entry">
              <xs:complexType>
                <xs:sequence>
                  <xs:element minOccurs="0" name="key" type="xs:string"/>
                  <xs:element minOccurs="0" name="value" type="xs:string"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="price" type="xs:double"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="sellers" nillable="true" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClassNotFoundException" type="tns:ClassNotFoundException"/>
  <xs:complexType name="ClassNotFoundException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SQLException" type="tns:SQLException"/>
  <xs:complexType name="SQLException">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:int"/>
      <xs:element minOccurs="0" name="sQLState" type="xs:string"/>
      <xs:element minOccurs="0" name="message" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="ClassNotFoundException">
    <wsdl:part element="tns:ClassNotFoundException" name="ClassNotFoundException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBookSoap">
    <wsdl:part element="tns:getBookSoap" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getBookSoapResponse">
    <wsdl:part element="tns:getBookSoapResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="SQLException">
    <wsdl:part element="tns:SQLException" name="SQLException">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WSInterface">
    <wsdl:operation name="getBookSoap">
      <wsdl:input message="tns:getBookSoap" name="getBookSoap">
    </wsdl:input>
      <wsdl:output message="tns:getBookSoapResponse" name="getBookSoapResponse">
    </wsdl:output>
      <wsdl:fault message="tns:SQLException" name="SQLException">
    </wsdl:fault>
      <wsdl:fault message="tns:ClassNotFoundException" name="ClassNotFoundException">
    </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSImplServiceSoapBinding" type="tns:WSInterface">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getBookSoap">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="getBookSoap">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="getBookSoapResponse">
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="ClassNotFoundException">
        <soap:fault name="ClassNotFoundException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WSImplService">
    <wsdl:port binding="tns:WSImplServiceSoapBinding" name="WSImplPort">
      <soap:address location="http://localhost:8080/WSInterface"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>